@media only screen and (min-height: 350px){
    .iframe-responsive{
        width: 100%;
        height: 280px;
    }
}

@media only screen and (min-height: 500px){
    .iframe-responsive{
        width: 100%;
        height: 500px;
    }
}

@media only screen and (min-height: 600px){
    .iframe-responsive{
        width: 100%;
        height: 560px;
    }
}

@media only screen and (min-height: 700px){
    .iframe-responsive{
        width: 100%;
        height: 650px;
    }
}

@media only screen and (min-height: 800px){
    .iframe-responsive{
        width: 100%;
        height: 760px;
    }
}
@media only screen and (min-height: 850px){
    .iframe-responsive{
        width: 100%;
        height: 780px;
    }
}
@media only screen and (min-height: 1000px){
    .iframe-responsive{
        width: 100%;
        height: 940px;
    }
}

@media only screen and (min-height: 1300px){
    .iframe-responsive{
        width: 100%;
        height: 1280px;
    }
}

