<ion-header [translucent]="true">
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-label>
        <ion-text >
          <h2>Términos y condiciones</h2>
        </ion-text>
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="background-gray">
  <ion-grid fixed>
    <ion-card class="card-politics">
        <ion-row>
          <ion-col size="12" class="center">
            <ion-text color="dark" >
              <h3>&copy; Boo S.A.S.</h3>
              <p><strong>Eres libre de hacer:</strong></p>
              <p>Adquirir el material según los términos que ha acordado con el proveedor
                Para usar y modificar el material según los términos que ha acordado con el proveedor
                para hacer otras cosas con el material según los términos que ha acordado con el proveedor
                </p>
              <p><strong>Se requiere:</strong></p>
              <p>Pagar los honorarios que haya acordado con el proveedor
                proporcionar cualquier indemnización que haya acordado con el proveedor
                para proteger la información confidencial según las restricciones de uso y los términos de protección que ha acordado con el proveedor
                para proteger la información personal de acuerdo con las restricciones de uso y los términos de protección que ha acordado con el proveedor
                para cumplir con las condiciones adicionales que ha acordado con el proveedor.</p>
              <p><strong>No está permitido:</strong></p>
              <p>Compartir, copiar, distribuir y transmitir este material a menos que el proveedor haya acordado expresamente que usted puede hacerlo
                para comercializar no puede utilizar este material con fines comerciales a menos que el proveedor haya acordado que usted puede hacerlo
                para infringir los derechos morales del propietario de los derechos de autor.</p>
            </ion-text>
          </ion-col>
        </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
