<ion-content>
  <ion-slides pager="true" class="slide-full">
    <ion-slide>
      <ion-list>
        <div class="item-traslucent">
          <ion-item lines="none">
            <ion-label class="ion-text-center">
              <h1>Crea tu cuenta Boo</h1>
            </ion-label>
          </ion-item>
          <img src="../../../assets/img/illustracion_start_1.svg" />
        </div>
      </ion-list>
     
    </ion-slide>
    <ion-slide>
      <ion-list>
        <div class="item-traslucent">
          <ion-item lines="none">
            <ion-label class="ion-text-center">
              <h1>Completa los formularios<br>de satisfacción</h1>
            </ion-label>
          </ion-item>
          <img src="../../../assets/img/illustracion_start_2.svg" />
        </div>
        
      </ion-list>

    </ion-slide>
    <ion-slide>
  <ion-list>
    <div class="item-traslucent">
      <ion-item lines="none">
        <ion-label class="ion-text-center">
          <h1>Disfruta de los beneficios<br>que tenemos para ti</h1>
        </ion-label>
      </ion-item>
      <img src="../../../assets/img/illustracion_start_3.svg" />
    </div>
    <div class="button-margin">

      <ion-button (click)="continue()" expand="block" fill="clear" color="secondary">
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        Continuar
      </ion-button>

    </div>
  </ion-list>
 

      
     
    </ion-slide>
  </ion-slides>
</ion-content>
